<div class="choix">
        
    <h2>Entrez vos revenus</h2>
    <form action="{{ path('revenus_edit') }}" method="POST">
        <div class="container my-container enter-revenues-section">
            <div class="row my-row">
                <div class="col my-col">
                    <p class="earnings-field-labels">Revenus principaux</p>
                </div>
                <div class="col my-col">
                    <input name="mainRevenue" class="earnings-field autocomplete" id="mainRevenue" /> {# champ à remplir #}
                </div>
            </div>
            <div class="space-between-main-and-other-revenues"></div>
            <div class="row my-row">
                <div class="col my-col">
                    <p class="earnings-field-labels">Autres revenus</p>
                </div>
                <div class="col my-col">
                    <input name="otherRevenue" class="earnings-field autocomplete" id="otherRevenue" /> {# champ à remplir #}
                </div>
            </div>
        </div>
        <div id="modify">
        <button class="view-modify-revenues-btn blue-background">Modifier mes revenus</button>
        </div>
    </form>
</div>