{# BOUTON DE PARTAGE SUR FACEBOOK #}
<div>
    <iframe src="https://www.facebook.com/plugins/share_button.php?href={{ url(app.request.attributes.get("_route"), app.request.attributes.get("_route_params"))}}&layout=button&size=large&width=89&height=28&appId" width="89" height="28" align="right" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media">
    </iframe>
    <br><br>
</div>
