{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}
    
{% block page %}
    <div class="main-title">
        <div class="container">
            <h1>A propos du site Concours photo</h1>
            <p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus facilis quod assumenda, esse! Accusantium nulla corporis asperiores a maxime labore fuga, adipisci, iste aspernatur at magni voluptas libero. Obcaecati, inventore.</p>
        </div>
    </div>
    <section>
        <div class="container">
            <h2>Le projet</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit aperiam aliquid, dolores sint, eligendi cupiditate doloribus fuga eius cumque libero. Provident ex similique porro qui sunt, quaerat a adipisci sapiente!</p>
            <h2>Le principe</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit aperiam aliquid, dolores sint, eligendi cupiditate doloribus fuga eius cumque libero. Provident ex similique porro qui sunt, quaerat a adipisci sapiente!</p>
            <h2>Dernier point</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit aperiam aliquid, dolores sint, eligendi cupiditate doloribus fuga eius cumque libero. Provident ex similique porro qui sunt, quaerat a adipisci sapiente!</p>
        </div>
    </section>
{% endblock %}
