{% trans_default_domain 'FOSUserBundle' %}

<div class="main-title">
    <div class="container">
        <h1>Editer mon profil</h1>
        <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <p>Modifier les informations publiques qui s'afficheront sur votre page de membre.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div>
                        <input type="submit" class="btn btn-primary btn-lg" value="{{ 'profile.edit.submit'|trans }}" />
                    </div>
                </form>
            </div>

            <div class="col-lg-2 offset-lg-2">
                <p>
                    <a href="{{path('fos_user_profile_show')}}" class="btn btn-lg btn-primary">Retour au profil</a>
                </p>
            </div>
        </div>
    </div>
</div>