/.web-server-pid
/.vscode/
/app/config/parameters.yml
/build/
/phpunit.xml
/var
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/composer.phar
.idea/
/app/config/config.yml
/web/videos/explication_dashboard.mp4
/web/images/actualite/Dashcorp_musique_uku.mp4
/web/css/img/category/subcategory/809818d9b2b0d4b8fb725e86febfdf43.svg