<div class="graph-and-bottle-container">
  <div class="bar-chart-container">
    <div class="bar-chart">
      <ul class="chart">
        <li style="height:45%;" class="position-realtive li"><!-- style="height:45%;"-->
          <div class="j-month J ecran">J</div>
          <div class="j-mobile-month mobile">J</div>
          <div class="full-height-bar gray">
            <div class="percentage">70 €</div>
          </div>
          <div class="bar-container">
            <div class="bar dark-gray january"></div>
          </div>
        </li>

        <li style="height:45%;" class="position-realtive li"><!-- style="height:45%;"-->
          <div class="month F ecran">F</div>
          <div class="mobile-month mobile">F</div>
          <div class="full-height-bar gray">
            <div class="percentage">100 €</div>
          </div>
          <div class="bar-container">
            <div class="bar dark-gray february"></div>
          </div>
        </li>

        <li style="height:45%;" class="position-realtive li"><!-- style="height:45%;"-->
          <div class="month M ecran">M</div>
          <div class="mobile-month mobile">M</div>
          <div class="full-height-bar gray">
            <div class="percentage">90 €</div>
          </div>
          <div class="bar-container">
            <div class="bar green march"></div>
          </div>
        </li>

        <li style="height:45%;" class="position-realtive li"><!-- style="height:45%;"-->
          <div class="month A ecran">A</div>
          <div class="mobile-month mobile">A</div>
          <div class="full-height-bar gray">
            <div class="percentage">20 €</div>
          </div>
          <div class="bar-container">
            <div class="bar dark-gray april"></div>
          </div>
        </li>

        <li style="height:45%;" class="position-realtive li"><!-- style="height:45%;"-->
            <div class="month M ecran">M</div>
            <div class="mobile-month mobile">M</div>
            <div class="full-height-bar gray">
              <div class="percentage">20 €</div>
            </div>
            <div class="bar-container">
              <div class="bar dark-gray may"></div>
            </div>
          </li>

        <li style="height:45%;" class="position-realtive li"><!-- style="height:45%;"-->
          <div class="j-month J ecran">J</div>
          <div class="j-mobile-month mobile">J</div>
          <div class="full-height-bar gray">
            <div class="percentage">5 €</div>
          </div>
          <div class="bar-container">
            <div class="bar dark-gray june"></div>
          </div>
        </li>

        <li style="height:45%;" class="position-realtive li"><!-- style="height:45%;"-->
          <div class="j-month J ecran">J</div>
          <div class="j-mobile-month mobile">J</div>
          <div class="full-height-bar gray">
            <div class="percentage">50 €</div>
          </div>
          <div class="bar-container">
            <div class="bar dark-gray july"></div>
          </div>
        </li>

        <li style="height:45%;" class="position-realtive li"><!-- style="height:45%;"-->
          <div class="month A ecran">A</div>
          <div class="mobile-month mobile">A</div>
          <div class="full-height-bar gray">
            <div class="percentage">25 €</div>
          </div>
          <div class="bar-container">
            <div class="bar dark-gray august"></div>
          </div>
        </li>

        <li style="height:45%;" class="position-realtive li"><!-- style="height:45%;"-->
          <div class="month S ecran">S</div>
          <div class="mobile-month mobile">S</div>
          <div class="full-height-bar gray">
            <div class="percentage">60 €</div>
          </div>
          <div class="bar-container">
            <div class="bar dark-gray september"></div>
          </div>
        </li>

        <li style="height:45%;" class="position-realtive li"><!-- style="height:45%;"-->
            <div class="month O ecran">O</div>
            <div class="mobile-month mobile">O</div>
            <div class="full-height-bar gray">
              <div class="percentage">60 €</div>
            </div>
            <div class="bar-container">
              <div class="bar dark-gray october"></div>
            </div>
        </li>

        <li style="height:45%;" class="position-realtive li"><!-- style="height:45%;"-->
            <div class="month N ecran">N</div>
            <div class="mobile-month mobile">N</div>
            <div class="full-height-bar gray">
              <div class="percentage">60 €</div>
            </div>
            <div class="bar-container">
              <div class="bar dark-gray november"></div>
            </div>
        </li>

        <li style="height:45%;" class="position-realtive li"><!-- style="height:45%;"-->
            <div class="month D ecran">D</div>
            <div class="mobile-month mobile">D</div>
            <div class="full-height-bar gray">
              <div class="percentage">60 €</div>
            </div>
            <div class="bar-container">
              <div class="bar dark-gray december"></div>
            </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="bottle-bottom-aligner">
    
    <div class="bottle-container-bottom-alignment">
      <div class="bottle-container">
        <div class="drink-level">
          
        </div>
        <img class="bottle-img" src="{{ asset('images/dashboard/budget/bouteille-fond-ext-blanc.svg') }}" />
      </div>
    </div>
    
  </div>

</div>

<div class="vertical-bar-container blue-text">
  <div>
    <p class="budget-previous-month-vertical-bar-text">Budget boisson mois précédent</p>
  </div>
</div>


<div class="vertical-bar-container blue-text">
  <div class="gray-bar gray">
    <div class="text-before-horizontal-bar">A</div>
    <div class="green-bar green">
        
    </div>
    <div class="text-after-horizontal-bar blue-text">90 €</div>
  </div>
</div>