/*.btn.btn-primary.dropdown-toggle.dropdown_btn {
    background-image:url(../../../images/budget/individumenage/dollars.png);
    height:80px;
    width:88px;
    background-color:rgba(0, 0, 0, 0);
    border:none;
    background-repeat:no-repeat;
    outline:none;
}*/