{% trans_default_domain 'FOSUserBundle' %}

<div class="main-title">
    <div class="container">
        <h1>Modifier mon mot de passe</h1>
    </div>
</div>

<div class="pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div>
                        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary btn-lg" />
                    </div>
                </form>
            </div>

            <div class="col-lg-2 offset-lg-2">
                <p>
                    <a href="{{path('fos_user_profile_show')}}" class="btn btn-lg btn-primary">Retour au profil</a>
                </p>
            </div>
        </div>
    </div>
</div>