body{
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
}
.myrow{
    margin-left: 0px;
    margin-right: 0px;
}

.burger button{
    padding: 5px;
    background-color: rgba(255, 255, 255, 1);
    color: #539ac4;
    border: solid 2px white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.burger{
    position: absolute;
    top: 3%;
    right: 2%;
}
.dropdown-menu::before,
.dropdown-menu::after {
    border: none;
    content: none;
}
.dropdown-toggle::after {
    display: none;
}
/* ------------------------------------------------
MENU
------------------------------------------------  */
.container{
    padding: 0;
}
/* ------------------------------------------------
SLIDER
------------------------------------------------  */
.carousel-item{
    background-color: #539ac4;
}
.top-adjust{
    top: 30%;
}
.carousel-caption{
    margin: auto;
    padding-bottom: 10%;
}
.image-header{
    opacity: 0.4;
}
.carousel-item .intro h1 {
    font-family: 'Nunito', sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 42.2pt;
    font-weight: bold;
}

/* Footer */


nav ul, nav a{
    color: #fff;
    list-style: none;

}



@media (min-width: 768px) and (max-width: 5000px) {


    .intro-explicatif{
        font-family: 'Nunito', sans-serif;
        color:#539ac4;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }

    .intro-explicatif h1{
        font-family: 'Nunito', sans-serif;
        color:#539ac4;
        font-weight: bold;
        text-align: center;
        font-size: 42.2pt;
    }

    .intro-explicatif p{
        font-size:28px;
        margin-bottom:40px;
    }


    /* video */

    .video_empreinte_chromatique{
        margin: 0 0 0 0;
    }

    .text-after-video {
        font-family: 'Nunito', sans-serif;
        color:#539ac4;
        font-size: 21pt;
        text-align: left;
        margin-top: 30px;

    }

    .video_empreinte_chromatique iframe{
        height: 435.191px;
        width: 828.66px;
    }


    /* processus */

    .processus{
        background-color: #539ac4;
        color: #fff;
        margin-bottom: 30px;

    }


    .processus h1 {
        color: #fff;
        font-family: 'Nunito', sans-serif;
        margin-top: 30px;
        padding-top: 89px;
        margin-bottom: 100px;
        text-align: center;
        font-weight: bold;
        font-size: 42.2pt;
    }

    .processus h3 {
        color: #fff;
        font-family: 'Nunito', sans-serif;
        font-size: 30px;
        margin-top: 80px;
        margin-bottom: 80px;
        font-weight: bold;
    }

    .processus img {
        display: block;
        width: 140px;
        height: 140px;
    }

    #spacer_about{
        display: block;
        margin-top: 1.2em;
    }


    .processus_text {
        font-family: 'Nunito', sans-serif;
        color:#539ac4;
        font-size: 28px;
        text-align: left;
        margin-top:20px;
    }



    /*criteres d'analyses */


    .critere {
        background-color: #539ac4;
        margin-bottom: 80px;
        padding-bottom: 56.543px !important;
    }


    .critere h1 {
        color: #fff;
        font-family: 'Nunito', sans-serif;
        padding-top: 26px;
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
        font-weight: bold;
        font-size: 42.2pt;
    }

    .critere .indicateur {
        font-family: 'Nunito', sans-serif;
        color: white;
        font-size: 15pt;
        font-weight:bold;

    }

    .critere .row{
        margin-top: 50px;
        align-items: center
    }



    /*Echelles individus */

    .echelle {
        font-family: 'Nunito', sans-serif;
        color: #539ac4;
        margin-top: 31px;
        font-size: 15pt !important;
        margin-bottom: 60px !important;
        font-weight: bold;
    }

    .echelle h1{
        font-size: 42.2pt;
        font-weight:bold;
        margin-bottom: 41.552px;
    }

    .echelle h2{
        font-size: 25px;
        font-weight: bold;
        margin-left: 20px;
        margin-top:40px;
    }

    .echelle p {

        margin-left: 20px;
        text-align: center;
        margin-top: 10px;
        font-weight:normal;
    }


    .rounded-circle{
        width: 70px !important;

    }


    .rounded-circle{
        margin-top: 32px !important;
    }


    /* Classement */

    #classement{
        font-family: 'Nunito', sans-serif;
        color:#539ac4;
        text-align: left;
    }


    #classement h1{

        font-family: 'Nunito', sans-serif;
        color:#539ac4;
        font-weight: bold;
        text-align: center;
        font-size: 42.2pt;
    }

    .classement .description{
        font-family: 'Nunito', sans-serif;
        color:#539ac4;
        font-size: 28px;
        text-align: left;
        margin-top:20px;
        margin-bottom:60px;


    }


}


/* CSS Responsive design */

@media screen and (max-width:767px) {

    #carousel-slp{
        margin-bottom: 31.5px;
    }

    .carousel-item h1{
        font-family: 'Nunito', sans-serif;
        font-size: 16.88pt !important;

    }

    h1{
        font-size: 16.19pt;
    }

    .intro-explicatif{
        color: #539ac4;
    }


    .intro-explicatif h1{
        font-weight: bold ;
        margin-top: 0;
        margin-bottom: 21px;
    }

    .intro-explicatif p{
        font-family: 'Nunito', sans-serif ;
        font-size: 11.12pt ;
        margin-bottom: 24px ;
    }



    /* video */


    .video_empreinte_chromatique{
        margin: 0 0 0 0;
        margin-bottom: 24px;
    }

    .text-after-video{
        font-size: 11.12pt;
        color: #539ac4;

    }



    /* processus */

    .processus{
        background-color: #539ac4;
        color: #fff;
    }


    .processus h1{
        font-size: 16.19pt;
        padding-top: 21px;
        padding-bottom: 23.5px;
    }

    .processus h3{
        font-size: 12.72px;
        padding-top: 23.5px;
        padding-bottom: 19.75px;
    }


    #title_se_distraire{
        margin-top: 0;
    }

    .title_processus{
        margin: 0;
        padding-bottom: 19.75px;
    }

    #title_prendre_soin_de_soi, #title_travailler{
        margin-top: 19.73px;
    }

    .processus img{
        width: 44.333px;
    }

    #spacer_about, #spacer_intro{
        display: block;
        margin-top: 1.2em;
    }


    #title_prendre_soin_de_soi, #title_travailler{
        padding: 0 0 21px 0;
    }


    .processus_text {
        font-size: 12.72px;
        margin: 24px 0 24px 0;
        color: #539ac4;
    }





    /*criteres d'analyses */

    .critere {
        font-family: 'Nunito', sans-serif;
        background-color: #539ac4;
        color: #fff;
    }

    .critere h1{

        font-size: 16.19pt ;
        padding-top: 31px;

    }

    .critere .indicateur{
        font-size: 11.12px;

    }


    .critere .row{
        align-items: center;
        margin-top: 31px;
    }



    /*Echelles individus */
    .echelle {
        font-family: 'Nunito', sans-serif;
        color: #539ac4;
        margin-top: 31px;
        font-size: 11.12pt;
    }

    .echelle h1{
        font-size: 16.19pt;
        margin-bottom: 41.552px;
    }

    .echelle h2{
        font-size: 11.12pt;
        font-weight: bold;
    }

    .rounded-circle{
        width: 33.25px;

    }

    .spacer_echelle{
        margin-bottom: 32px;
    }




    /* Classement */

    #classement{
        font-family: 'Nunito', sans-serif;
        color: #539ac4;
        margin-top: 52px ;
        margin-bottom: 35.33px ;
    }

    #classement h1{
        font-weight: bold;
        font-size: 16.19pt;
        margin-bottom: 14.667px;
    }

    .classement .description{
        font-size: 11.12pt;
    }



}



