<div class="mobile-status justify-content-center">
    <div class="pie-charts-line justify-content-center">
        <div class="blue-pie-chart pie-chart-container">
            {% include 'site/svg/circles/living-circle.html.twig' %}
        </div>
        <div class="pink-pie-chart pie-chart-container">
            {% include 'site/svg/circles/moving-circle.html.twig' %}
        </div>
    </div>
    <div class="pie-charts-line line-two justify-content-center">
        <div class="orange-pie-chart pie-chart-container">
            {% include 'site/svg/circles/communicating-circle.html.twig' %}
        </div>
        <div class="navyblue-pie-chart pie-chart-container seventh-pie-chart">
            {% include 'site/svg/circles/leisures-circle.html.twig' %}
        </div>
    </div>
    <div class="pie-charts-line line-two justify-content-center">
        <div class="green-pie-chart pie-chart-container">
            {% include 'site/svg/circles/eating-circle.html.twig' %}
        </div>
        <div class="orangered-pie-chart pie-chart-container">
            {% include 'site/svg/circles/take-care-of-yourself-circle.html.twig' %}
        </div>
    </div>
    <div class="pie-charts-line line-two justify-content-center">
        <div class="lightorangered-pie-chart pie-chart-container">
            {% include 'site/svg/circles/working-circle.html.twig' %}
        </div>
        <div class="purlpe-pie-chart pie-chart-container">
            {% include 'site/svg/circles/dressing-circle.html.twig' %}
        </div>
    </div>
</div>
{#<div class="seventh-pie-chart-container">#}
{#    #}
{#</div>#}
