<!--
<div class="currency-container container my-container medium-screen">
    <div class="row my-row">
        <div class="col-1 my-col">
            <p class="currency-title">Devise :</p>
        </div>
        <div style="display:flex;flex-direction:row;justify-content:space-around;" class="col-1 my-col">
            <img class="currency-image" src="{{ asset('images/dashboard/budget/euros1.png') }}" />
            <img class="currency-image" src="{{ asset('images/dashboard/budget/chf1.png') }}" />
        </div>
        <div class="col-10 my-col">
                
        </div>
    </div>
</div>

<div class="currency-container container my-container small-screen">
    <div class="row my-row">
        <div class="col-2 my-col">
            <p class="currency-title">Devise :</p>
        </div>
        <div style="display:flex;flex-direction:row;justify-content:space-around;" class="col-2 my-col">
            <img class="currency-image" src="{{ asset('images/dashboard/budget/euros1.png') }}" />
            <img class="currency-image" src="{{ asset('images/dashboard/budget/chf1.png') }}" />
        </div>
        <div class="col-8 my-col">
                
        </div>
    </div>
</div>


<div class="currency-container container my-container medium-screen">
    <div class="row my-row">
        <div class="col-1 my-col">
            <p class="currency-title">Devise :</p>
        </div>
        <div style="display:flex;flex-direction:row;justify-content:space-around;" class="col-1 my-col">
            <text class="euro">€</text>
            <text class="chf">CHF</text>
        </div>
        <div class="col-10 my-col">
                
        </div>
    </div>
</div>

<div class="currency-container container my-container small-screen">
    <div class="row my-row">
        <div class="col-2 my-col">
            <p class="currency-title">Devise :</p>
        </div>
        <div style="display:flex;flex-direction:row;justify-content:space-around;" class="col-2 my-col">
            <text class="euro">€</text>
            <text class="chf">CHF</text>
        </div>
        <div class="col-8 my-col">
                
        </div>
    </div>
</div>
-->

<div class="currency-container container my-container">
    <div class="row my-row">
        <div class="currency-choice currency-title blue-text bold-text">
            <div class="currency-txt currency-txt-title">Devise : </div>
        </div>
        <div class="currency-choice currency-choice-txt euro blue-text bold-text clicked-currency"> 
            <div class="currency-txt">€</div>
        </div>
        <div class="currency-choice currency-choice-txt chf blue-text bold-text"> 
            <div class="currency-txt">CHF</div>
        </div>
    </div>
</div>